.add_role_box{
    width: 1000px;
    margin: 0 auto;
}
.add_role_list{
    margin: 20px 0 10px 0;
}
.add_role_list ul {
    margin-left: 50px;
}
.menu_li{
    display: inline-block;
    width: 25%;
    height: 30px;
    line-height: 30px;
}
input[type="checkbox"]{
    vertical-align: top;
    margin: 8px 5px 0 0;
}
input[type="checkbox"].head {
    vertical-align: top;
    margin: 0 5px 0 0;
}
.m_formPart {
    line-height: 20px;
    padding: 0 0 8px;
}
.formitems{
    height: 35px;
}