// 公共样式
.table
    margin-bottom: 0px

// 基本样式
.info
    .content-right-title
        font-weight: bold
    .info-wrapper
        .info-left
            width: 49%
            float: left
            .account
                line-height: 32px
                padding-left: 18px
                border-bottom: 1px solid #ccc
                .icon
                    margin-right: 8px
                .nowAccount
                    font-weight: bold
            .info-content
                margin-top: 8px
                .content-child
                    width: 33%
                    float: left
                    height: 30px
                    line-height: 30px

        .info-right
            width: 49%
            float: right
            .library
                line-height: 32px
                padding-left: 18px
                border-bottom: 1px solid #ccc
                .icon
                    margin-right: 8px
                .nowLib
                    font-weight: bold
            .info-content
                margin-top: 8px
                .content-child
                    width: 33%
                    float: left
                    height: 30px
                    line-height: 30px