// 公共样式
td
    vertical-align: middle;
.modal.in .modal-dialog
    top: 50%
    transform: translate(0, -50%)

// 基本样式
.info
    .title
        font-size: 14px
        font-weight: bold
        padding-bottom: 20px
    .nowHasUser
        position: relative
        padding: 12px 15px
        border: 1px solid #1c89d5
        border-radius: 5px
        background: #d9edf7
        .amount
            font-size: 16px
        .removeParent
            position: absolute
            right: 14px
            top: 16px
            font-size: 14px
            cursor: pointer
    .form-wrapper
        .row
            height: 40px
            .col
                #start_date, #end_date
                    cursor: not-allowed