// 公共样式
.red
    color: red
    margin-right: 8px 
.input:read-only
    background-color: #ccc

// 基本样式
.info 
    .title
        font-size: 14px
        font-weight: bold
        padding-bottom: 20px
    .form-wrapper
        background: #F8F8F8
        .m_formPart
            line-height: 20px
            padding: 0 0 8px
            .m_label
                float: left
                width: 110px
                text-align: right
                color: #333
                line-height: 28px
                font-weight: 700
            .form-controls
                .error
                    color: red