<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>属性规格列表</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/component-min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/groupLists.css">
</head>

<body class="body-wrapper">
    <div class="header clearfix">
        <div class="h-left">
            <div class="logo">
                <a href="#">
                    <img src="__PUBLIC__/Admin/image/logo.png" alt="侨品汇">
                </a>
            </div>
            <div class="text">
                <div class="title">侨品汇</div>
                <div class="des">海外购物平台</div>
            </div>
        </div>
        <div class="h-right clearfix">
            <ul class="nav-wrapper nav-wrapper-hook clearfix">
                <!-- <li class="right-nav right-nav-hook">
                    <a href="#">test</a>
                </li>    -->
            </ul>
            <div class="user-wrapper">
                <span class="name">test</span>
                <div class="message">
                    <a href="###" class="glyphicon glyphicon-envelope"></a>
                </div>
                <div class="account account-hook">
                    <a href="javascript:;" class="btn btn-primary user">
                        <i class="glyphicon glyphicon-user icon_right"></i>账户
                    </a>
                    <ul class="user-part user-part-hook hide">
                        <li class="exit">
                            <a href="http://fenxiao.qphvip.com/admin.php/Login/DelUser">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content clearfix">
        <div class="slidebar slidebar-hook">
            <!-- <dl class="bar-wrapper">
                <dt class="list">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>test</span>
                </dt>
                <dd class="list-child list-child-hook">
                    <a href="#">test-child--lalal</a>
                </dd>
            </dl>   -->
        </div>
        <div class="info">
            <h1 class="content-right-title">规格属性列表</h1>
            <div class="clearfix" style="height: 50px;">
                <a href="AttributeAdd" class="btn btn-success fl newGroup-hook" style="margin-top: 10px;">添加规格属性</a>
				<form action="/admin.php/Mgroup/lists" method="get" id="form1">
					<div class="tables-searchbox fr">
                        <select class="select">
                            <option value="">test</option>
                        </select>
						<input placeholder="类目名称" class="input" name="title" value="{$title}" type="text">
						<button class="btn btn-primary" id="sub"><i class="glyphicon glyphicon-search mgr5"></i>查询</button>
					</div>
				</form>
            </div>
            <table class="wxtables mgt15">
                <colgroup>
                    <col width="2%">
                    <col width="19%">
                    <col width="19%">
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                </colgroup>
                <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-check"></i></td>
                        <td>分组名称</td>
                        <td>属性名称</td>
                        <td>属性值</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
					<foreach item='val' key='k' name='list'>
						<tr>
							<td>
								<input class="checkbox table-ckbs checkbox-hook" type="checkbox" name="checkbox" value="{$val['id']}">
							</td>
							<td>{$val['title']}</td>
							<td>{$val['cn']}</td>
                            <td></td>
                            <td></td>
							<td>
								<a href="javascript:;" class="btn btn-mini btn-primary edit-hook" title="编辑" data-id="{$val['id']}">编辑</a>
								<a href="javascript:;" class="btn btn-mini btn-danger del-hook" title="删除" data-id="{$val['id']}">删除</a>
							</td>
						</tr>
					</foreach>
                </tbody>
            </table>
            <div class="tables-btmctrl clearfix">
                <div class="fl">
                    <a href="javascript:;" class="btn btn-primary selectAll-hook">全选</a>
                    <a href="javascript:;" class="btn btn-primary cancelAll-hook">取消</a>
                    <a href="javascript:;" class="btn btn-primary delAll-hook">批量删除</a> 
                </div>
            </div>
            <div class="mgt10">
                <div class="paginate">
                    {$page}
                    <!--
                    <a href="javascript:;" class="prev disabled"></a>
                    <a class="cur">1</a>
                    <a href="/User/lists/p/2.html">2</a>
                    <a href="/User/lists/p/3.html">3</a>
                    <a href="/User/lists/p/4.html">4</a><span class="dotted mgr5 mgl5">...</span>
                    <a href="/User/lists/p/170.html">170</a>
                    <a href="/User/lists/p/2.html" class="next"></a>
                    <span class="mgr5 mgl5">到</span>
                    <input class="" type="text">
                    <a href="" class="goto">确定</a>
                    <span class="mgr5">页</span>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>

    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/bootbox.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/attributelist.js"></script>
</body>

</html>